@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

:root {
  --Strong-Cyan: hsl(172, 67%, 45%);
  --Strong-Cyan-Hover: hsl(172, 67%, 75%);
  --Very-Dark-Cyan: hsl(183, 100%, 15%);
  --Very-Dark-Cyan-Hover: hsl(183, 43%, 33%);
--Dark-Grayish-Cyan: hsl(186, 14%, 43%);
--Grayish-Cyan: hsl(184, 14%, 56%);
--Light-Grayish-Cyan: hsl(185, 41%, 84%);
--Very-Light-Grayish-Cyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
}